//----------------------
// Variables
//----------------------
@import '../variables.scss';

#sobre {
  .titulo {
    color: $azul_claro;
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
  }

  #nos {
    #card {
      padding-right: 14px;
      .box-card {
        border-radius: 0px;
        border-right: 1px dashed $azul_cinza;
        border-bottom: 1px dashed $azul_cinza;
      }
      .name {
        color: $azul_escuro;
        font-family: $family-second;
        font-size: 20px;
        text-align: center;
      }
      .funcao {
        font-family: $family-second;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}