#sobre .titulo {
  color: #486a8c;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center; }

#sobre #nos #card {
  padding-right: 14px;
  max-width: 280px; }
  #sobre #nos #card .box-card {
    border-radius: 0px;
    border-right: 1px dashed #727f8c;
    border-bottom: 1px dashed #727f8c; }
  #sobre #nos #card .name {
    color: #2e4459;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center; }
  #sobre #nos #card .funcao {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center; }
