#sobre .titulo {
  color: #486a8c;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center; }

#sobre #grupo .espaco {
  padding-right: 24px; }

#sobre #grupo .texto {
  font-family: "Montserrat", sans-serif;
  text-align: justify; }

#sobre #grupo .icone {
  text-align: center; }
  #sobre #grupo .icone .icon {
    fill: #2e4459 !important;
    height: 32px;
    margin-left: 12px;
    width: 32px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }

#sobre #parceiros .espaco {
  margin-right: 20px; }
