#conteudo .espaco-left {
  padding-left: 24px; }

#conteudo .espaco-right {
  padding-right: 24px; }

#conteudo .imagem {
  max-height: 440px; }

#conteudo .text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: justify; }

#conteudo .titulo {
  color: #486a8c;
  font-size: 40px;
  padding-top: 50px;
  text-align: center; }
