//----------------------
// Variables
//----------------------
@import '../../../assets/styles/variables.scss';

#page404 {
  .sub-title {
    color: $preto;
    font-size: 18px;
  }

  .title {
    color: $preto;
  }
}