//----------------------
// Variables
//----------------------
@import '../../../assets/styles/variables.scss';

#emBreve {
  .padding {
    padding-top: 30px;
  }
  
  .sub-title {
    color: $preto;
    font-size: 18px;
  }

  .title {
    color: $preto;
  }
}