//----------------------
// Variables
//----------------------
 @import '../../../assets/styles/variables.scss';

 #button-component {
  .button {
    border: 2px solid;
    border-radius: 2px;
    font-family: $family-primary;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 110px;
    padding: 5px 5px 5px 10px;
  }

  .active {
    color: $azul_cinza;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  
    i {
      vertical-align: -6px;
    }
  
    &:hover {
      color: #000;
    }
  }
  
  .disable {
    color: #a1a1a1;
  }
 }