#button-component .button {
  border: 2px solid;
  border-radius: 2px;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 110px;
  padding: 5px 5px 5px 10px; }

#button-component .active {
  color: #727f8c;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  #button-component .active i {
    vertical-align: -6px; }
  #button-component .active:hover {
    color: #000; }

#button-component .disable {
  color: #a1a1a1; }
