#home a {
  color: #486a8c;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }
  #home a:hover {
    color: #343a40; }

#home #banner .bg {
  height: 330px; }

#home #banner .titulo {
  color: #b0c5d9;
  font-size: 60px;
  font-weight: 300 !important;
  letter-spacing: -0.5px;
  line-height: 1.17;
  padding-top: 80px;
  text-align: center;
  text-shadow: #000 -1px 1px 1px; }

#home #conteudo .paddingLeft-comMulheres {
  padding-left: 60px; }

#home #conteudo .paddingLeft-parceiros {
  padding-left: 120px; }

#home #conteudo .espaco-right {
  padding-right: 24px; }

#home #conteudo .imagem {
  max-height: 400px; }

#home #conteudo .paddingTop-comMulheres {
  padding-top: 85px; }

#home #conteudo .paddingTop-eventos {
  padding-top: 10px; }

#home #conteudo .paddingTop-eventos-foto {
  padding-top: 25px; }

#home #conteudo .paddingTop-parceiros {
  padding-top: 20px; }

#home #conteudo .paddingBottom {
  padding-bottom: 50px; }

#home #conteudo .text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: justify; }

#home #conteudo .titulo {
  color: #486a8c;
  font-size: 40px;
  text-align: center; }

@media (max-width: 768px) {
  #home #conteudo {
    text-align: center; }
    #home #conteudo .paddingLeft-comMulheres {
      padding-left: 0px; }
    #home #conteudo .paddingLeft-parceiros {
      padding-left: 0px;
      padding-top: 50px; }
    #home #conteudo .paddingTop-comMulheres {
      padding-top: 10px; }
    #home #conteudo .paddingTop-eventos {
      padding-top: 0px; }
    #home #conteudo .paddingTop-parceiros {
      padding-top: 0px; } }
