//----------------------
// Variables
//----------------------
 @import '../../../assets/styles/variables.scss';

#footer {
  background-color: $preto;
  color: white;

  a {
    color: white;
    &:hover {
      color: $azul_claro;
    }
  }

  .icon {
    fill: white;
    margin-left: 12px;
    width: 32px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }

  .padding {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .align {
    text-align: right;
  }
}

@media (max-width: 768px) {
  #footer {
    text-align: center;
    .align {
      text-align: center;
    }
  }
}