#footer {
  background-color: #343a40;
  color: white; }
  #footer a {
    color: white; }
    #footer a:hover {
      color: #486a8c; }
  #footer .icon {
    fill: white;
    margin-left: 12px;
    width: 32px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
  #footer .padding {
    padding-top: 28px;
    padding-bottom: 28px; }
  #footer .align {
    text-align: right; }

@media (max-width: 768px) {
  #footer {
    text-align: center; }
    #footer .align {
      text-align: center; } }
