#equipe #card {
  text-align: center; }
  #equipe #card .box-card {
    border-radius: 0px;
    border: 1px dashed #727f8c;
    max-width: 280px; }
  #equipe #card .funcao {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center; }
  #equipe #card .imagem {
    padding-top: 12px;
    max-height: 320px; }
  #equipe #card .name {
    color: #2e4459;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center; }
  #equipe #card .ver-mais {
    text-align: center;
    padding-top: 12px; }
    #equipe #card .ver-mais a {
      color: #343a40;
      font-family: "Montserrat", sans-serif;
      font-size: 16px; }
      #equipe #card .ver-mais a:hover {
        color: #486a8c; }
      #equipe #card .ver-mais a i {
        vertical-align: -8px; }

#equipe #equipe-children {
  text-align: center; }
  #equipe #equipe-children .descricao {
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    text-align: justify; }
  #equipe #equipe-children .fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.2s 0.2s, height 0.2s 0.2s, opacity 0.2s; }
  #equipe #equipe-children .fadeIn {
    opacity: 1;
    width: auto;
    height: auto;
    transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s; }
  #equipe #equipe-children .icon {
    fill: #2e4459 !important;
    height: 32px;
    margin-left: 12px;
    width: 32px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }

@media (min-width: 769px) and (max-width: 977px) {
  #equipe #card {
    text-align: center; }
    #equipe #card .box-card {
      max-height: 300px; }
    #equipe #card .funcao {
      font-size: 13px; }
    #equipe #card .imagem {
      max-height: 190px; }
    #equipe #card .name {
      font-size: 14px; }
    #equipe #card .ver-mais a {
      font-size: 12px; }
  #equipe #equipe-children {
    text-align: center; }
    #equipe #equipe-children .descricao {
      font-family: "Montserrat", sans-serif;
      padding: 12px;
      text-align: justify; } }

@media (max-width: 768px) {
  #equipe #card {
    text-align: center;
    padding-right: 0px; }
    #equipe #card .box-card {
      margin: 0 auto; } }
