//----------------------
// Variables
//----------------------
@import '../../../assets/styles/variables.scss';

#equipe {
  #card {
    text-align: center;

    .box-card {
      border-radius: 0px;
      border: 1px dashed $azul_cinza;
      max-width: 280px;
    }

    .funcao {
      font-family: $family-second;
      font-size: 18px;
      text-align: center;
    }

    .imagem {
      padding-top: 12px ;
      max-height: 320px;
    }

    .name {
      color: $azul_escuro;
      font-family: $family-second;
      font-size: 20px;
      text-align: center;
    }

    .ver-mais {
      text-align: center;
      padding-top: 12px;
      a {
        color: $preto;
        font-family: $family-second;
        font-size: 16px;
        &:hover {
          color: $azul_claro;
        }
        i {
          vertical-align: -8px;
        }
      }
    }
  }

  #equipe-children {
    text-align: center;

    .descricao {
      font-family: $family-second;
      padding: 12px;
      text-align: justify;
    }

    .fadeOut {
      opacity: 0;
      width: 0;
      height: 0;
      transition: width 0.2s 0.2s, height 0.2s 0.2s, opacity 0.2s;
    }

    .fadeIn {
      opacity: 1;
      width: auto;
      height: auto;
      transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
    }

    .icon {
      fill: $azul_escuro !important;
      height: 32px;
      margin-left: 12px;
      width: 32px;
      -webkit-transition: 0.2s ease-in;
      -moz-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
    }
  }
}


// Configuração dos cards
@media (min-width: 769px) and (max-width: 977px) {
  #equipe {
    #card {
      text-align: center;
      .box-card {
        max-height: 300px;
      }
      
      .funcao {
        font-size: 13px;
      }

      .imagem {
        max-height: 190px;
      }

      .name {
        font-size: 14px;
      }

      .ver-mais {
        a {
          font-size: 12px;
        }
      }
    }
    #equipe-children {
      text-align: center;
  
      .descricao {
        font-family: $family-second;
        padding: 12px;
        text-align: justify;
      }
    }
  }
}

// Configuração dos cards
@media (max-width: 768px) {
  #equipe {
    #card {
      text-align: center;
      padding-right: 0px;
      .box-card {
        margin: 0 auto;
      }
    }
  }
}