//----------------------
// Variables
//----------------------
@import '../../../assets/styles/variables.scss';

#eventos {
  .box-card {
    border-radius: 0px;
    border: 1px dashed $azul_cinza;
  }

  .button-active {
    border: 2px solid;
    border-radius: 2px;
    font-family: $family-primary;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 110px;
    padding: 5px 5px 5px 10px;
    color: $azul_cinza;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  
    i {
      vertical-align: -6px;
    }
  
    &:hover {
      color: #000;
    }
  }

  .paginas {
    padding-top: 60px;
  }
  #destaque {
    text-align: center;

    .descricao {
      font-family: $family-second;
      font-size: 16px;
      text-align: justify;
    }

    .mapa {
      color: $azul_claro;
      font-family: $family-second;
      font-size: 16px;
      &:hover {
        color: $preto;
      }
    }

    .padding {
      &-image {
        padding-left: 30px;
      }
      &-descricao {
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
      }
      &-titulo {
        padding-top: 30px;
      }
    }

    .titulo {
      color: $azul_claro;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      white-space: pre-line !important;
    }
  }

  #anteriores {
    .align {
      text-align: center;
    }

    .box-bottom {
      border-bottom: 1px dashed $azul_cinza;
    }

    .box-right {
      border-right: 1px dashed $azul_cinza;
    }

    .container-column {
      padding: 24px;
    }

    .descricao {
      font-family: $family-second;
      font-size: 16px;
      text-align: justify;
    }

    .image {
      max-width: 300px;
      padding-bottom: 20px;
    }

    .titulo {
      color: $azul_claro;
      font-size: 40px;
      padding-bottom: 35px;
      text-align: center;
      
      &-evento {
        color: $azul_escuro;
        font-family: $family-second;
        font-size: 18px;
        padding-bottom: 20px;
      }
    }
  }
}

#pag-evento {
  .image {
    max-width: 500px;
  }
  .titulo {
    color: $azul_claro;
  }
}

@media (max-width:768px) {
  #eventos {
    #destaque {
      .padding-image {
        margin: 0 auto;
        padding-left: 0px;
      }
    }
    #anteriores {
      .box-right {
        border-bottom: 1px dashed $azul_cinza;
        border-right: none;
      }
    }
  }
}

@media (min-width:769px) and (max-width:977px) {
  #eventos {
    #destaque {
      .image {
        max-width: 320px;
      }
      .padding-image {
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 30px;
      }
    }
    #anteriores {
      .image {
        max-width: 200px;
      }
    }
  }
}