#eventos .box-card {
  border-radius: 0px;
  border: 1px dashed #727f8c; }

#eventos .paginas {
  padding-top: 60px; }

#eventos #destaque {
  text-align: center; }
  #eventos #destaque .descricao {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: justify; }
  #eventos #destaque .mapa {
    color: #486a8c;
    font-family: "Montserrat", sans-serif;
    font-size: 16px; }
    #eventos #destaque .mapa:hover {
      color: #343a40; }
  #eventos #destaque .padding-image {
    padding-left: 30px; }
  #eventos #destaque .padding-descricao {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px; }
  #eventos #destaque .padding-titulo {
    padding-top: 30px; }
  #eventos #destaque .titulo {
    color: #486a8c;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    white-space: pre-line !important; }

#eventos #anteriores .align {
  text-align: center; }

#eventos #anteriores .box-bottom {
  border-bottom: 1px dashed #727f8c; }

#eventos #anteriores .box-right {
  border-right: 1px dashed #727f8c; }

#eventos #anteriores .container-column {
  padding: 24px; }

#eventos #anteriores .descricao {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: justify; }

#eventos #anteriores .image {
  max-width: 300px;
  padding-bottom: 20px; }

#eventos #anteriores .titulo {
  color: #486a8c;
  font-size: 40px;
  padding-bottom: 35px;
  text-align: center; }
  #eventos #anteriores .titulo-evento {
    color: #2e4459;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding-bottom: 20px; }

@media (max-width: 768px) {
  #eventos #destaque .padding-image {
    margin: 0 auto;
    padding-left: 0px; } }

@media (min-width: 769px) and (max-width: 977px) {
  #eventos #destaque .image {
    max-width: 320px; }
  #eventos #destaque .padding-image {
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 30px; } }
