#eventos .box-card {
  border-radius: 0px;
  border: 1px dashed #727f8c; }

#eventos .button-active {
  border: 2px solid;
  border-radius: 2px;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 110px;
  padding: 5px 5px 5px 10px;
  color: #727f8c;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  #eventos .button-active i {
    vertical-align: -6px; }
  #eventos .button-active:hover {
    color: #000; }

#eventos .paginas {
  padding-top: 60px; }

#eventos #destaque {
  text-align: center; }
  #eventos #destaque .descricao {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: justify; }
  #eventos #destaque .mapa {
    color: #486a8c;
    font-family: "Montserrat", sans-serif;
    font-size: 16px; }
    #eventos #destaque .mapa:hover {
      color: #343a40; }
  #eventos #destaque .padding-image {
    padding-left: 30px; }
  #eventos #destaque .padding-descricao {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px; }
  #eventos #destaque .padding-titulo {
    padding-top: 30px; }
  #eventos #destaque .titulo {
    color: #486a8c;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    white-space: pre-line !important; }

#eventos #anteriores .align {
  text-align: center; }

#eventos #anteriores .box-bottom {
  border-bottom: 1px dashed #727f8c; }

#eventos #anteriores .box-right {
  border-right: 1px dashed #727f8c; }

#eventos #anteriores .container-column {
  padding: 24px; }

#eventos #anteriores .descricao {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: justify; }

#eventos #anteriores .image {
  max-width: 300px;
  padding-bottom: 20px; }

#eventos #anteriores .titulo {
  color: #486a8c;
  font-size: 40px;
  padding-bottom: 35px;
  text-align: center; }
  #eventos #anteriores .titulo-evento {
    color: #2e4459;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding-bottom: 20px; }

#pag-evento .image {
  max-width: 500px; }

#pag-evento .titulo {
  color: #486a8c; }

@media (max-width: 768px) {
  #eventos #destaque .padding-image {
    margin: 0 auto;
    padding-left: 0px; }
  #eventos #anteriores .box-right {
    border-bottom: 1px dashed #727f8c;
    border-right: none; } }

@media (min-width: 769px) and (max-width: 977px) {
  #eventos #destaque .image {
    max-width: 320px; }
  #eventos #destaque .padding-image {
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 30px; }
  #eventos #anteriores .image {
    max-width: 200px; } }
