//----------------------
// Variables
//----------------------
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

//----------------------
// Fonts
//----------------------
$family-sans: 'Rajdhani', sans-serif;
$family-second: 'Montserrat', sans-serif;
$family-primary: $family-sans;

//----------------------
// Cores
//----------------------
$azul_cinza: #727f8c;
$azul_escuro: #2e4459;
$preto: #343a40;
$azul_claro: #486a8c;
$azul_branco: #b0c5d9;